<div class=row>
  <h1>Dr. Acula, M.D.</h1>
</div>
<div class=row>
  <h5>Report for January, 2016</h5>
</div>

<%= render :partial => "/tracked_sites/site_partials/zocdoc" %>
<%= render :partial => "/tracked_sites/site_partials/zocdoc" %>


<script>

</script>
