
<ul class="list-group">
  <li class="list-group-item"><%= link_to("Docs", docs_path) %></li>
  <li class="list-group-item"><%= link_to("Tracked Sites", tracked_sites_path) %></li>
  <li class="list-group-item"><%= link_to("Docs / Sites", doc_sites_path) %></li>
  <li class="list-group-item"><%= link_to("Stats", site_stats_path) %></li>
</ul>
